#searchBarMain {
    width: 500px;
    height: 80px;
}

#searchBarNews {
    border: none;
    background-color: #fff1e5;
    border-bottom: 1px solid;
    width: 400px;
    height: 60px;
    font-size: 40px;
    font-style: italic;
    color: #990f3d;
}

#searchBarNews:focus {
    outline-width: 0;
}

.searchIcon:hover {
    color: #990f3d;
}