a {
    color: black;
    margin-right: 45px;
}

a:hover {
    text-decoration: underline;
    color: rgb(8, 70, 112);
    font-weight: bolder;
}

.selected {
    text-decoration: underline;
    color: rgb(8, 70, 112);
    font-weight: bolder;
}

.navMain {
    height: 160px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(77,72,69,.2), 0 6px 10px rgba(77,72,69,.15);
    transform: translateY(0);
}

.linksDiv {
    background-color: #F8F9F9;
    height: 60px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    line-height: 55px;
    text-align: center;
    border-radius: 4px;
}

#mainHeaderBrand {
    font-size: 70px;
    display: block;
    margin: auto;
    width: 700px;
    text-align: center;
}