a {
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(8, 70, 112);
    font-weight: bolder;
}

.selected {
    text-decoration: underline;
    color: rgb(8, 70, 112);
    font-weight: bolder;
}

.navMain {
    background-color: white;
    height: 65px;
    border-radius: 4px;
    padding-left: 30px;
}

.linksDiv {
    height: 55px;
    width: 500px;
    margin: auto;
    float: left;
    margin-top: 5px;
    display: flex;
    line-height: 55px;
    text-align: center;
    justify-content: space-between;
}